@import "../../modules/_base.scss";
/*Order section*/
.b-order{
    background:$primary;
    color:#fff;
}

.b-order__hero,
.b-order__send{
    @extend .g-column;
}


.b-order__hero{
    height:200px;
    position:relative;
    z-index:2;

    &:before,
    &:after{
        content:'';
        display:block;
        position:absolute;
        top:0; right:-10px; bottom:0; left:-10px;
    }

    &:before{//background
        z-index:-1;
        background-position:center center;
        background-repeat:no-repeat;
        background-image:url(../img/hero/hero-xs.jpg);
    }
    &:after{//mask
        background:$primary;
        background:rgba($primary, .80);
        z-index:1;
    }
}

.b-order__title{
    @extend .g-title;
    width:100%;
    margin-bottom:0;
    padding-right:20px;
    box-sizing:border-box;
    color:#fff;
    @extend .g-valign;
    white-space:nowrap;
    z-index:3;
    text-align:right;
    font-size:rem(18px);
    line-height:1.3;
}

.b-order__form{
    padding:34px 0;
    max-width:280px;
    margin:0 auto;

    .g-btn{
        margin-top:10px;
    }
}



$order-gutter:2.56%;

@include media($tablet){
    .b-order__hero,
    .b-order__send{
        width:(100%-$order-gutter)/2;
    }
    .b-order__hero{
        height:400px;
        &:before,
        &:after{
            left:-200px;
        }
    }
    .b-order__title{
        font-size:rem(22px);
    }
    .b-order__send{
        margin-left:$order-gutter;
    }
    .b-order__form{
        margin:0;
    }
}

@include media($desktop){
        .b-order__title{
            @include font-size(30px);
        }
        .b-order__hero{
            &:before{
                background-image:url(../img/hero/hero-xl.jpg);
            }
        }
        
}

@include media($large){
    .b-order__title{
        padding-right:155px;
    }
    .b-order__hero{
        &:before,
        &:after{
            right:55px;
            left:-400px;
        }
    }
}

